/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.logo{
  border-radius: 50%;
  height: 40px;
  width:40px;
}
.globe{
  cursor: pointer;
  font-size:px ;
}

.media{
  height:500px ;
}

img{
  margin: 0 auto;
}

.title{
  margin-bottom: 60px;
  margin-top: 30px;
}
