// themes - our custom or/and out of the box themes
@import 'themes';
// angular material theme.
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
};

// Sidebar icon css

.my-active-icon,
.my-complete-icon{
  background: url('../../../assets/icons/ActiveCampaign.png');
}

.my-outlet-icon{
  background: url('../../../assets/icons/OutletDetails.png')
}

.my-dashboard-icon{
  background: url('../../../assets/icons/Dashboard.png');
}

.my-active-icon, .my-outlet-icon, .my-complete-icon,.my-dashboard-icon{
  background-size: cover;
  height: 25px;
}

