// themes - our custom or/and out of the box themes
@import 'themes';
// angular material theme.
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
};

.my-icon{
  background: url('../../../assets/icons/ActiveCampaign.png');
  background-size: 100% 100%;
  height: 100px';
}

