<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form [formGroup]="loginForm" class="login100-form validate-form flex-sb flex-w">
        <span class="login100-form-title p-b-51">
          Login
        </span>

        <span *ngIf="loginForm.touched || loginForm.controls.Email.pristine?false : !loginForm.controls.Email.dirty || loginForm.controls.Email.invalid" class="error common" >please enter the email</span>
        <div class="wrap-input100 validate-input m-b-16 common" data-validate = "Email is required">
          <input formControlName="Email" class="input100" type="text"  placeholder="Email">
          <span class="focus-input100"></span>
        </div>

        <span *ngIf="loginForm.controls.password.pristine?false : !loginForm.controls.password.dirty || loginForm.controls.password.invalid" class="error common" >please enter the password</span>
        <div class="wrap-input100 validate-input m-b-16 common" data-validate = "Password is required">
          <input formControlName="password" class="input100" type="password" name="pass" placeholder="Password">
          <span class="focus-input100"></span>
        </div>
<!--
        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a  class="txt1">
              Forgot?
            </a>
          </div>
        </div> -->

        <div class="container-login100-form-btn m-t-17 common">
          <button *ngIf="loginForm.valid" (click)="login()" class="login100-form-btn">
            Login
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
