<div class="father-flex">
    <!-- <nb-card class="child-flex" *ngFor="let history of historyData">
        <nb-card-body >
            <div>
                    <div class="history-text center" >{{history.topic}}</div>
                    <img  class="logo" src={{history.icon}} alt="logo not available">
                    <ng2-odometer class="center history-text" [number]="history.value" [config]="counterConfig"></ng2-odometer>
            </div>
        </nb-card-body>
      </nb-card> -->
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-xl-3">
                  <div class="card bg-c-blue order-card">
                      <div class="card-block">
                          <h6 class="m-b-20">Orders Received</h6>
                          <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span><ng2-odometer [number]="456" [config]="counterConfig"></ng2-odometer></span></h2>
                          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                      </div>
                  </div>
              </div>
              
              <div class="col-md-4 col-xl-3">
                  <div class="card bg-c-green order-card">
                      <div class="card-block">
                          <h6 class="m-b-20">Orders Received</h6>
                          <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span><ng2-odometer [number]="456" [config]="counterConfig"></ng2-odometer></span></h2>
                          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                      </div>
                  </div>
              </div>
              
              <div class="col-md-4 col-xl-3">
                  <div class="card bg-c-yellow order-card">
                      <div class="card-block">
                          <h6 class="m-b-20">Orders Received</h6>
                          <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span><ng2-odometer [number]="456" [config]="counterConfig"></ng2-odometer></span></h2>
                          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                      </div>
                  </div>
              </div>
              
              <div class="col-md-4 col-xl-3">
                  <div class="card bg-c-pink order-card">
                      <div class="card-block">
                          <h6 class="m-b-20">Orders Received</h6>
                          <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span> <ng2-odometer [number]="456" [config]="counterConfig"></ng2-odometer></span></h2>
                          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                      </div>
                  </div>
              </div>
        </div>
      </div>
</div>

<ngx-gmaps class="map"></ngx-gmaps>