<div class="container">
  <div class="row">
      <div class="col-md-3 col-xl-3">
          <div class="card bg-c-blue order-card">
              <div class="card-block">
                  <h6 class="m-b-20">Lifetime Views <i (click)="findInfo('historyCard','viewsCard')" class="fa fa-info-circle infoCircle" aria-hidden="true"></i></h6>
                  
                  <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span><ng2-odometer [number]="historyData['lifeTimeViews']" [config]="counterConfig"></ng2-odometer></span></h2>
                  <p *ngIf="historyData.mainDashboard" class="m-b-0">Active Campaign Views<span class="f-right">{{historyData.activeCampaignViews}}</span></p>
              </div>
          </div>
      </div>

      <div class="col-md-3 col-xl-3">
          <div class="card bg-c-green order-card">
              <div class="card-block">
                  <h6 class="m-b-20">Lifetime Hours<i (click)="findInfo('historyCard','watchTime')" class="fa fa-info-circle infoCircle" aria-hidden="true"></i></h6>
                  <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span><ng2-odometer [number]="historyData['lifeTimeHours']" [config]="counterConfig"></ng2-odometer></span></h2>
                  <p *ngIf="historyData.mainDashboard"  class="m-b-0">Active Campaign Hours<span class="f-right">{{historyData.activeCampaignHours}}</span></p>
              </div>
          </div>
      </div>

      <div *ngIf="!historyData.campaignDetail" class="col-md-3 col-xl-3">
          <div class="card bg-c-yellow order-card">
              <div class="card-block">
                  <h6 class="m-b-20">Lifetime Campaigns <i (click)="findInfo('historyCard','campaigns')" class="fa fa-info-circle infoCircle" aria-hidden="true"></i></h6>
                  <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span><ng2-odometer [number]="historyData['lifeTimeCampaigns']" [config]="counterConfig"></ng2-odometer></span></h2>
                  <p *ngIf="historyData.mainDashboard"  class="m-b-0">Active Campaigns<span class="f-right">{{historyData['activeCampaigns']}}</span></p>
              </div>
          </div>
      </div>

      <div class="col-md-3 col-xl-3">
          <div class="card bg-c-pink order-card">
              <div class="card-block">
                  <h6 class="m-b-20">Lifetime Impressions <i (click)="findInfo('historyCard','impressions')" class="fa fa-info-circle infoCircle" aria-hidden="true"></i></h6>
                  <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span> <ng2-odometer [number]="historyData['lifeTimeImpressions']" [config]="counterConfig"></ng2-odometer></span></h2>
                  <p  *ngIf="historyData.mainDashboard" class="m-b-0">Active Impressions<span class="f-right">{{historyData['activeCampaignImpressions']}}</span></p>
              </div>
          </div>
      </div>
</div>
</div>
