.card{
  margin: 10px auto;
  padding: 10px;
}

.image{
  height: 40px;
  width: 40px;
}

.zomato-text{
  line-height: 35px;
}

.common{
  margin-top: 10px;
}


.para{
  font-size: 14px;
}

.tails{
  font-size: 12px;
  color: #89959B;
}
.tails{
  font-size: 14px;
  color: #89959B;
}

.second{
  margin-top: 20px;
}

.content{
  border-bottom: 1px solid #89959B;
}

.content-second{
  margin-top: 20px;
}

.aa{
  background-color: #A28947;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 2px;
}

nb-progress-bar{
  width: 200px;
}
