<div class="header">
  <h5>Outlet Details</h5>
</div>

<div class="card">
  <nb-card>
    <nb-card-body>
      <div class="content">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h5 class="zomato-text">Zomato Details</h5>
            </div>
            <div class="col-lg-6 col-md-6">
              <img class="image float-right" src="../../../assets/images/zomato.png" alt="zomato">
            </div>
        </div>

        <div class="row common">
          <div class="col-lg-6 col-md-6">
            <h6 class="head">Hotel Name</h6>
            <p class="para">location, Type</p>
          </div>
          <div class="col-lg-6 col-md-6"></div>
        </div>

        <div class="row common">
            <div class="col-lg-4 col-md-4">
              <div class="first">
                <h6>Phone Number</h6>
                <p>+91 8828838825 <br> <span class="tails">Table booking recommended</span></p>
              </div>
              <div class="second">
                <h6>Cuisines</h6>
                <p style="color:#cb202d">Continental, Italian, North Indian,<br> Asian, Bar Food, Mughlai, Seafood</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="first">
                <h6>Opening Hours (open now/ closed)</h6>
                <p>Today 12noon - 12midnight <br> <span class="tails">Happy Hours 12PM to 7PM</span></p>
              </div>
              <div class="second">
                <h6>Address</h6>
                <p>Rajwada Chowk, Baner Main<br> Road, Baner, Pune</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <h6>More Info</h6>
              <p><i class="fa fa-check"></i> Wheelchair Accessible<br>
                  <span><i class="fa fa-check"></i> Full Bar Available<br></span>
                  <span><i class="fa fa-check"></i> Live Sports Screening<br></span>
                  <span><i class="fa fa-check"></i> Valet Parking Available<br></span>
                  <span><i class="fa fa-check"></i> Indoor Seating<br></span>
                  <span><i class="fa fa-check"></i> Smoking Area<br></span>
                  <span><i class="fa fa-check"></i> Nightlife<br></span>
                  <span><i class="fa fa-check"></i> Table booking recommended</span></p>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h6>Average Cost</h6>
              <p>₹1,400 for two people (approx.)  with alcohol <br>
              <span class="tails">Exclusive of applicable taxes and charges, if any</span></p>
              <p>₹170  for a pint of beer (approx.)<br>
              <span class="tails">Cash and Cards accepted</span></p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h6>Featured in Collections</h6>
            <p><span>Outdoor Seating</span><br>
                <span>Beer in a Bar</span></p>
          </div>
          <div class="col-lg-4 col-md-4"></div>
        </div>
      </div>

      <div class="content-second">
        <div>
          <h5>What people love here <span class="aa">NEW</span></h5>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h5>Food</h5><br>
            <p><nb-progress-bar [value]="90"></nb-progress-bar></p>
            <p class="tailstwo">Nachos, Cocktails, Peri Peri Chicken,<br> Pizza, Pasta, French Fries, Bee</p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h5>Service</h5><br>
            <p><nb-progress-bar [value]="90"></nb-progress-bar></p>
            <p class="tailstwo">Friendly Staff, Courteous Staff, <br>Prompt Service</p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h5>Look & Feel</h5><br>
            <p><nb-progress-bar [value]="90"></nb-progress-bar></p>
            <p class="tailstwo">Decor, Live Music, Dj</p>
          </div>
        </div>
      </div>


    </nb-card-body>
  </nb-card>
</div>

<div class="card">
  <nb-card>
    <nb-card-body>
      <!-- <h5>Live Offline Status</h5>
      <div style="display: block;">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div> -->
      <div class="row">
        <div class="col-lg-4 col-md-4"><h5>Live Offline Status</h5></div>
        <div class="col-lg-8 col-md-8 text-right">
          <div>
            <span class="live_status">NEW</span> <span class="tails"> Live</span>&nbsp;&nbsp;
            <span class="offline_status">NEW</span><span class="tails"> Offline</span>
          </div>
        </div>
      </div>
      <div class="timingwise-status">

        <label>
          <input name="options" class="form-radio" [(ngModel)]="options" type="radio" [value]="true" [checked]="options" checked/> Yes
        </label>

        <label>
          <input name="options" class="form-radio" [(ngModel)]="options" type="radio" [value]="false" [checked]="!options"/> No
        </label>

        <h2 *ngIf="options">
          <p class="badge badge-success live"><span class="status">11 AM</span></p>
          <p class="badge badge-success live"><span class="status">12 PM</span></p>
          <p class="badge badge-danger live"><span class="status">1 PM</span></p>
          <p class="badge badge-danger live"><span class="status">2 PM</span></p>
          <p class="badge badge-danger live"><span class="status">3 PM</span></p>
          <p class="badge badge-danger live"><span class="status">4 PM</span></p>
          <p class="badge badge-danger live"><span class="status">5 PM</span></p>
          <p class="badge badge-danger live"><span class="status">6 PM</span></p>
          <p class="badge badge-success live"><span class="status">7 PM</span></p>
          <p class="badge badge-success live"><span class="status">8 PM</span></p>
          <p class="badge badge-success live"><span class="status">9 PM</span></p>
          <p class="badge badge-success live"><span class="status">10 PM</span></p>
          <p class="badge badge-success live"><span class="status">11 PM</span></p>
          <p class="badge badge-success live"><span class="status">12 AM</span></p>
        </h2>
        <h2 *ngIf="!options">
          <p class="badge badge-danger live"><span class="status">11 AM</span></p>
          <p class="badge badge-danger live"><span class="status">12 PM</span></p>
          <p class="badge badge-success live"><span class="status">1 PM</span></p>
          <p class="badge badge-success live"><span class="status">2 PM</span></p>
          <p class="badge badge-success live"><span class="status">3 PM</span></p>
          <p class="badge badge-success live"><span class="status">4 PM</span></p>
          <p class="badge badge-success live"><span class="status">5 PM</span></p>
          <p class="badge badge-success live"><span class="status">6 PM</span></p>
          <p class="badge badge-danger live"><span class="status">7 PM</span></p>
          <p class="badge badge-danger live"><span class="status">8 PM</span></p>
          <p class="badge badge-danger live"><span class="status">9 PM</span></p>
          <p class="badge badge-danger live"><span class="status">10 PM</span></p>
          <p class="badge badge-danger live"><span class="status">11 PM</span></p>
          <p class="badge badge-danger live"><span class="status">12 AM</span></p>
        </h2>
      </div>
    </nb-card-body>
  </nb-card>
</div>





