.card{
  margin: 10px auto;
  padding: 10px;
}

.image{
  height: 40px;
  width: 40px;
}

.zomato-text{
  line-height: 35px;
}

.common{
  margin-top: 10px;
}

.head{
  font-size: 16px;
}

.para{
  font-size: 14px;
}
